@mixin goFlex($dir: row, $justify: flex-start, $wrap: wrap) {
    display: flex;
    flex-direction: $dir;
    justify-content: $justify;
    flex-wrap: $wrap;
}

@mixin roboto($weight: 400, $color: black, $height: 10px) {
    font-family: "Roboto", sans-serif;
    font-weight: $weight;
    font-style: normal;
    // color: $color;
    line-height: $height;
}